{% extends 'back.html.twig' %}

{% block title %}FicheTechnique index{% endblock %}

{% block body %}
    <h1>FicheTechnique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tax</th>
                <th>Assurence</th>
                <th>Visite_tech</th>
                <th>Vidange</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_technique in fiche_techniques %}
            <tr>
                <td>{{ fiche_technique.id }}</td>
                <td>{{ fiche_technique.tax ? fiche_technique.tax|date('Y-m-d') : '' }}</td>
                <td>{{ fiche_technique.assurence ? fiche_technique.assurence|date('Y-m-d') : '' }}</td>
                <td>{{ fiche_technique.visiteTech ? fiche_technique.visiteTech|date('Y-m-d') : '' }}</td>
                <td>{{ fiche_technique.vidange }}</td>
                <td>
                    <a href="{{ path('app_fiche_technique_show', {'id': fiche_technique.id}) }}">view</a>
                    <a href="{{ path('app_fiche_technique_edit', {'id': fiche_technique.id}) }}">editer</a>
                <a href="{{ path('PDF_t', {'id': fiche_technique.id}) }}">pdf</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fiche_technique_new') }}">Create new</a>
{% endblock %}
